# Created by https://www.toptal.com/developers/gitignore/api/windows,visualstudiocode,node
# Edit at https://www.toptal.com/developers/gitignore?templates=windows,visualstudiocode,node


# Dependency directories
node_modules/

# dotenv environment variable files
#.env

# End of https://www.toptal.com/developers/gitignore/api/windows,visualstudiocode,node